<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceso al Examen</title>
    <link rel="stylesheet" href="styles.css">

</head>
<body class="room">
    <div class="exam-entry">
        <h1 class="title1 ">Ingresar a un examen</h1>
        <form action="/submit-exam-code" method="post">
            <input type="text" id="room-number" name="room-number" placeholder="Número de Sala" required> 
            <!-- the upper line send to the server the room number with the required -->
            <button class="button1" type="submit">Comenzar</button>
        </form>
    </div>
</body>
</html>
