<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Examen 1 - Genuiz</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>

<body>
  <div class="body1">
    <div class="sidebar">
      <img src="https://cdn-icons-png.flaticon.com/512/320/320333.png" alt="Profesor">
      <h4>Profesor</h4>
      <button class="button-h" href="#">Historial</button>

      <div class="scroll-padre">
        <div class=scroll-bg>
          <div class="scroll-div">
            <div class="exams-container">
            </div>
          </div>
        </div>
      </div>

      <button href="#" id="new" class="btn-new-exam">Nuevo examen</button>
    </div>

    <!--exam part  -->

    <div id="exam-viz"></div>



  </div>


  <script>

    function displayExam(examData) {
      // Obtener el contenedor del examen
      const examContainer = document.getElementById('exam-viz');

      // Crear el título del tema
      const temaTitle = document.createElement('h2');
      temaTitle.textContent = `${examData.botResponse.content.tema}`;
      examContainer.appendChild(temaTitle);

      // Crear las preguntas y opciones
      examData.botResponse.content.preguntas.forEach((pregunta, index) => {
        const questionDiv = document.createElement('div');
        questionDiv.classList.add('question');

        const questionTitle = document.createElement('h3');
        questionTitle.textContent = `${index + 1}-${pregunta.enunciado}`;
        questionDiv.appendChild(questionTitle);

        const optionsList = document.createElement('ul');
        optionsList.classList.add('options');

        pregunta.opciones.forEach(opcion => {
          const optionItem = document.createElement('li');
          optionItem.classList.add('option');

          const optionLabel = document.createElement('label');
          const optionInput = document.createElement('input');
          optionInput.type = 'radio';
          optionInput.name = `question${index}`;
          optionInput.value = opcion;

          if (pregunta.respuesta === opcion) {
            optionLabel.style.color = 'green';
          }

          optionLabel.appendChild(optionInput);
          optionLabel.appendChild(document.createTextNode(opcion));

          optionItem.appendChild(optionLabel);
          optionsList.appendChild(optionItem);


        });

        questionDiv.appendChild(optionsList);
        examContainer.appendChild(questionDiv);


        deletebutton.addEventListener('click', function (e) {
          e.preventDefault();
          deleteQuestion(examData, index, questionDiv);
        });

        questionDiv.appendChild(deletebutton);
      });

    };


    document.getElementById("new").addEventListener("click", function (e) {
      window.location.href = "generador.html";
    });
    //variable to count the exams
    let cont = 0;

    let examData = localStorage.getItem('jsonData');

    window.onload = function () {
      fetch('http://localhost:3000/get-exams')
        .then(response => response.json())
        .then(exams => {
          const container = document.querySelector('.exams-container');
          exams.forEach(exam => {
            cont++;
            const button = document.createElement('button');
            button.textContent = `Examen ${cont}`;
            button.id = `btn-exam-${cont}`;
            button.className = 'exam-button';


            //create the span for the X right top corner button 
            const closeButton = document.createElement('span');
            closeButton.textContent = '✖';
            closeButton.className = 'close-button';

            //add the elements
            button.appendChild(closeButton);
            container.appendChild(button);

            button.addEventListener("click", function (e) {
              e.preventDefault();
              // Borra el contenido anterior del contenedor 'exam-viz'
              const examVizContainer = document.querySelector('#exam-viz');
              examVizContainer.innerHTML = '';

              let exam2 = JSON.stringify(exam);
              const parsedExam = JSON.parse(exam2);
              const examData = JSON.parse(parsedExam.data);

              displayExam(examData);

            });

            closeButton.addEventListener("click", function (e) {
              e.stopPropagation(); // Para evitar la activación del evento del botón principal
              const examId = button.id;
              const id = examId.split('-')[2];
              fetch(`http://localhost:3000/delete-exam?id=${id}`, {
                method: 'DELETE',
                headers: {
                  'Content-Type': 'application/json',
                }
              })
                .then(response => response.json())
                .then(data => {
                  console.log('Success:', data);
                  window.location.reload();
                })
                .catch((error) => {
                  console.error('Error:', error);
                });
            });
          });
        })
        .catch((error) => console.error('Error:', error));
    };

  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>