<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Examen 1 - Genuiz</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div class="body1">
    <div class="sidebar">
      <img
        src="https://images.ctfassets.net/h6goo9gw1hh6/2sNZtFAWOdP1lmQ33VwRN3/e40b6ea6361a1abe28f32e7910f63b66/1-intro-photo-final.jpg?w=1200&h=992&fl=progressive&q=70&fm=jpg"
        alt="Profesor">
      <h4>Profesor</h4>
      <div class="exams-container">
        <button class="button" href="#">Historial</button>
      </div>
      <button href="#" id="new" class="btn-new-exam">Nuevo examen</button>
      <script>
        document.getElementById("new").addEventListener("click", function (e) {
          window.location.href = "generador.html"
        });

        window.onload = function () {
          fetch('http://localhost:3000/get-exams')
            .then(response => response.json())
            .then(exams => {
              const container = document.querySelector('.exams-container');
              exams.forEach(exam => {
                const button = document.createElement('button');
                button.textContent = `Examen ${exam.id}`;
                button.id = `btn-exam-${exam.id}`;
                button.className = 'exam-button';
                container.appendChild(button);

                document.getElementById(`btn-exam-${exam.id}`).addEventListener("click", function (e) {
                  e.preventDefault();
                  window.location.href = "exam2.html"
                  fetch(`http://localhost:3000/get-exam/${exam.id}`)
                    .then(response => response.json())
                    .then(data => {
                      localStorage.setItem('examData', JSON.stringify(data));
                    })
                    .catch((error) => console.error('Error:', error));
                })
              });
            })
            .catch((error) => console.error('Error:', error));
        };


      </script>
    </div>
</body>

</html>