<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Examen 1 - Genuiz</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <!-- Direccionamiento a hoja de estilos particular -->
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div class="body1">
    <div class="sidebar">
      <img
        src="https://images.ctfassets.net/h6goo9gw1hh6/2sNZtFAWOdP1lmQ33VwRN3/e40b6ea6361a1abe28f32e7910f63b66/1-intro-photo-final.jpg?w=1200&h=992&fl=progressive&q=70&fm=jpg"
        alt="Profesor">
      <h4>Profesor</h4>
      <div id="exams-container">
        <button class="button" href="#">Historial</button>
      </div>
      <button href="#" id="new" class="btn-new-exam">Nuevo examen</button>

    </div>

    <div class="main-content">
    </div>
    <script>
      document.getElementById("new").addEventListener("click", function (e) {
        window.location.href = "generador.html"
      });

      window.onload = function () {
        fetch('http://localhost:3000/get-exams')
          .then(response => response.json())
          .then(data => { 
            const examsContainer = document.getElementById('exams-container');
            data.forEach(exam => {
              const button = document.createElement('button');
              button.textContent = `Examen ${exam.id}`;
              button.addEventListener('click', function () {
                // Aquí puedes manejar el evento de clic en el botón
                // Por ejemplo, podrías redirigir a la página del examen
                window.location.href = `exam.html?id=${exam.id}`;
                localStorage.setItem('exam', exam.data);
              });
              examsContainer.appendChild(button);
            });
          })
          .catch((error) => console.error('Error:', error));
      };
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </div>
</body>

</html>